<link rel="stylesheet" media="all" href="/assets/main.css" data-turbolinks-track="reload">
<!-- Desktop - 1 -->
<div class="frame" id="frame">
  <!-- Rectangle 3 -->
  <div class="left top rectangle" id="gradient_front"></div>

  <!-- Back -->
  <div class="left top rectangle" id="back"></div>

  <!-- a-box-sample-2 1 -->
  <div class="left top rectangle" id="maiden_1"></div>

</div>
<!-- Rectangle 2 -->
<div class="left top rectangle" id="main_black_box_gradient">
  <form accept-charset="UTF-8" action="/project_menu/add_project" data-remote="true" method="post">
    <input name="pr_name" type="text"/>
    <input name="pr_url" type="text"/>
    <button class="left top text" id="next">Добавить</button>
  </form>
  <!-- Название проекта -->
  <div class="left top text" id="name_proj_t">Название проекта</div>

  <!-- Хранилище данных -->
  <div class="left top text" id="database_t">Хранилище данных</div>

  <!-- Line 1 -->
  <img src="https://s3-us-west-2.amazonaws.com/figma-alpha-api/img/8f90/603a/f70458d2dc78e3d681da1e2d1e46b5a8" class="left top line" id="A-Project_vertical">
  <!-- Line 2 -->
  <img src="https://s3-us-west-2.amazonaws.com/figma-alpha-api/img/4eed/a2ab/d83451cf3445459d7f387e7be52fde7f" class="left top line" id="A-Project_horizontal_center">
</div>

<!-- Import -->
<div class="left top rectangle" id="add_center"></div>

<!-- Next -->
<div class="left top text" id="next_big_t">Продолжить</div>

<script>
    let next = document.getElementById('next_big_t');
    next.addEventListener("click", function(){ window.location = '<%= project_menu_add_project_add_setting_path %>' }, false);
    let element1 = document.getElementById('back');
    element1.addEventListener("click", function(){ window.location = '<%= project_menu_path %>'}, false);
    element1.addEventListener("mouseenter", function(){ document.body.style.cursor = "pointer" },false);
    element1.addEventListener("mouseleave", function(){ document.body.style.cursor = "default" },false);
</script>