<link rel="stylesheet" media="all" href="/assets/main.css" data-turbolinks-track="reload">
<!-- Desktop - 1 -->
<div class="frame" id="frame">
  <!-- Rectangle 3 -->
  <div class="left top rectangle" id="gradient_front"></div>

  <!-- a-box-sample-2 1 -->
  <div class="left top rectangle" id="maiden_1"></div>

  <!-- Back -->
  <a href="/project_menu/add_project" class="left top rectangle" id="back"></a>

</div>
<!-- Rectangle 2 -->
<div class="left top rectangle" id="main_black_box_gradient">

  <!-- Название проекта -->
  <div class="left top text" id="name_t">Имя проекта</div>

  <!-- Хранилище данных -->
  <div class="left top text" id="import_t">Настройки</div>

  <!-- Line 1 -->
  <img src="https://s3-us-west-2.amazonaws.com/figma-alpha-api/img/8f90/603a/f70458d2dc78e3d681da1e2d1e46b5a8" class="left top line" id="A-Project_vertical_1">
  <!-- Line 2 -->
  <img src="https://s3-us-west-2.amazonaws.com/figma-alpha-api/img/4eed/a2ab/d83451cf3445459d7f387e7be52fde7f" class="left top line" id="A-Project_vertical">
</div>

<!-- Import -->
<div class="left top rectangle" id="add_center_45"></div>

<!-- Next -->
<div class="left top text" id="next_big_t">Продолжить</div>