<link rel="stylesheet" media="all" href="/assets/main.css" data-turbolinks-track="reload">
<!-- Desktop - 1 -->
<div class="frame" id="frame">
    <!-- Rectangle 3 -->
    <div class="left top rectangle" id="gradient_front"></div>

</div>
    <!-- Rectangle 2 -->
    <div class="left top rectangle" id="main_black_box_0">
    <!-- Line 1 -->
    <img src="https://s3-us-west-2.amazonaws.com/figma-alpha-api/img/8f90/603a/f70458d2dc78e3d681da1e2d1e46b5a8" width="96" height="253" class="left top line" id="A-horizontal">
    <!-- Line 2 -->
    <img     src="https://s3-us-west-2.amazonaws.com/figma-alpha-api/img/4eed/a2ab/d83451cf3445459d7f387e7be52fde7f" width="93" height="253" class="left top line" id="A-horizontal">

    <!-- Впервые -->
    <div class="left top text" id="firstly">Впервые</div>
    <!-- Вновь -->
    <div class="left top text" id="again">Вновь</div>
    <!-- Union -->
    <img src="https://s3-us-west-2.amazonaws.com/figma-alpha-api/img/9dcc/bf27/c14f5d1c7e3bdcbd8887471ad4089652" width="45" height="55" class="left top boolean_operation" id="union">
    <!-- Я -->
    <div class="left top text" id="I">Я</div>
    </div>
    <!-- a-box-sample-2 1 -->
    <div class="left top rectangle" id="maiden_1"></div>
