<link rel="stylesheet" media="all" href="/assets/main.css" data-turbolinks-track="reload">
<!-- Desktop - 1 -->
<div class="frame" id="frame">
  <!-- Rectangle 3 -->
  <div class="left top rectangle" id="gradient_front"></div>

  <!-- Back -->
  <div class="left top rectangle" id="back">S</div>

  <!-- a-box-sample-2 1 -->
  <div class="left top rectangle" id="maiden_1"></div>

</div>
<!-- Rectangle 2 -->
<div class="left top rectangle" id="main_black_box_0">
  <!-- Я -->
  <div class="left top text" id="I">Я</div>
  <!-- Впервые -->
  <a href="signup" id = 'firstly'>Впервые</a>
  <!-- Вновь -->
  <a href="signin" id="again">Вновь</a>
  <!-- Union -->
  <div class="left top rectangle" id="union"></div>

  <!-- Line 1 -->
  <img src="https://s3-us-west-2.amazonaws.com/figma-alpha-api/img/8f90/603a/f70458d2dc78e3d681da1e2d1e46b5a8" width="96" height="253" class="left top line" id="A-horizontal">
  <!-- Line 2 -->
  <img     src="https://s3-us-west-2.amazonaws.com/figma-alpha-api/img/4eed/a2ab/d83451cf3445459d7f387e7be52fde7f" width="93" height="253" class="left top line" id="A-horizontal">
</div>
<script>
    let element = document.getElementById('back');
    element.addEventListener("click", function(){ window.location = '<%= root_path %>'}, false);
    element.addEventListener("mouseenter", function(){ document.body.style.cursor = "pointer" },false);
    element.addEventListener("mouseleave", function(){ document.body.style.cursor = "default" },false);
</script>
