<link rel="stylesheet" media="all" href="/assets/main.css" data-turbolinks-track="reload">
<!-- Desktop - 1 -->
<div class="frame" id="n2_3">
    <!-- Rectangle 3 -->
    <div class="left top rectangle" id="n16_28"></div>
    <!-- Rectangle 2 -->
    <div class="left top rectangle" id="n2_7">
    <!-- Line 1 -->
    <img src="https://s3-us-west-2.amazonaws.com/figma-alpha-api/img/8f90/603a/f70458d2dc78e3d681da1e2d1e46b5a8" width="96" height="253" class="left top line" id="n2_8">
    <!-- Line 2 -->
    <img     src="https://s3-us-west-2.amazonaws.com/figma-alpha-api/img/4eed/a2ab/d83451cf3445459d7f387e7be52fde7f" width="93" height="253" class="left top line" id="n2_9">
    </div>
    <!-- a-box-sample-2 1 -->
    <div class="left top rectangle" id="n6_3"></div>
</div>