<link rel="stylesheet" media="all" href="/assets/main.css" data-turbolinks-track="reload">
<!-- Desktop - 1 -->
<div class="frame" id="frame">
  <!-- Rectangle 3 -->
  <div class="left top rectangle" id="gradient_front"></div>

  <!-- a-box-sample-2 1 -->
  <div class="left top rectangle" id="maiden_1"></div>

</div>

<div class="left top rectangle" id="photo"></div>

<div class="left top text", id="user_name_first">Корбен</div>

<div class="left top text", id="user_name_second">Даллас</div>

<div class="left top text", id="nick">Псевдоном</div>

<div class="left top text", id="email">Email</div>

<div class="left top text", id="speciality">Специальность</div>

<div class="left top text", id="theme">Тема</div>

<div class="left top text", id="manage_profile">Управление уч. записью</div>

<div class="left top text", id="change_password">Сменить пароль</div>

<div class="left top text", id="delete_profile">Удалить уч. запись</div>

<!-- Union -->
<div class="left top rectangle" id="union_center"></div>