
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.6/ace.js"></script>
<%= javascript_pack_tag 'graph' %>


<div class="wrapper">

  <div class="row">

    <div class="column">

      <div id="editor">

      </div>

    </div>

    <div id="column_scene-wrapper" class="column">

    </div>

  </div>

  <div class="row v-editor">

    <div class="column">
      <div id="geEditor" style="height: 100%">



      </div>

      <div class="properties-panel-parent" id="js-properties-panel"></div>

    </div>

  </div>

</div>

<script>
    let editor = ace.edit("editor");
    let scene = document.getElementById('column_scene-wrapper');
    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/html");
    let xmlHttp = new XMLHttpRequest();
    xmlHttp.onreadystatechange = function () {
        if (xmlHttp.readyState === 4 && xmlHttp.status === 200)
            editor.setValue(xmlHttp.responseText);
    };
    xmlHttp.open("GET", '/home/default', true);
    xmlHttp.send(null);
    editor.session.on('change', function (delta) {
        scene.innerHTML = editor.getValue();
    });
</script>
