
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.6/ace.js"></script>


<script type="text/javascript" src="js/Init.js"></script>
<script type="text/javascript" src="deflate/pako.min.js"></script>
<script type="text/javascript" src="deflate/base64.js"></script>
<script type="text/javascript" src="jscolor/jscolor.js"></script>
<script type="text/javascript" src="sanitizer/sanitizer.min.js"></script>
<script type="text/javascript" src="../../../src/js/mxClient.js"></script>
<script type="text/javascript" src="js/EditorUi.js"></script>
<script type="text/javascript" src="js/Editor.js"></script>
<script type="text/javascript" src="js/Sidebar.js"></script>
<script type="text/javascript" src="js/Graph.js"></script>
<script type="text/javascript" src="js/Format.js"></script>
<script type="text/javascript" src="js/Shapes.js"></script>
<script type="text/javascript" src="js/Actions.js"></script>
<script type="text/javascript" src="js/Menus.js"></script>
<script type="text/javascript" src="js/Toolbar.js"></script>
<script type="text/javascript" src="js/Dialogs.js"></script>


<div class=wrapper"">

  <div class="row">

    <div class="column">

      <div id="editor">

      </div>

    </div>

    <div id="column_scene-wrapper" class="column">

    </div>

  </div>

  <div class="row">

    <div class="column" class="geEditor">



    </div>

  </div>

</div>

<script>
    let editor = ace.edit("editor");
    let scene = document.getElementById('column_scene-wrapper');
    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/html");
    let xmlHttp = new XMLHttpRequest();
    xmlHttp.onreadystatechange = function () {
        if (xmlHttp.readyState === 4 && xmlHttp.status === 200)
            editor.setValue(xmlHttp.responseText);
    };
    xmlHttp.open("GET", '/home/default', true);
    xmlHttp.send(null);
    editor.session.on('change', function (delta) {
        scene.innerHTML = editor.getValue();
    });
</script>
