<link rel="stylesheet" media="all" href="/assets/main.css" data-turbolinks-track="reload">
<!-- Desktop - 1 -->
<div class="frame" id="frame">
  <!-- Rectangle 3 -->
  <div class="left top rectangle" id="gradient_front_focus"></div>

  <!-- Back -->
  <a href="/signup" class="left top rectangle" id="back"></a>

  <!-- a-box-sample-2 1 -->
  <div class="left top rectangle" id="maiden_1"></div>

</div>
<!-- Rectangle 2 -->
<div class="left top rectangle" id="main_black_box_0">

  <!-- Логин -->
  <div class="left top text" id="set">Задайте</div>
  <!-- Пароль -->
  <div class="left top text" id="full_name">Фамилия Имя</div>
  <!-- Пароль -->
  <!--<a href="set_nickname" class="left top text" id="next">Продолжить</a>
  -->
  <form accept-charset="UTF-8" action="/signup/set_name" data-remote="true" method="post">
    <input name="fname" type="text"/>
    <input name="sname" type="text"/>
    <button class="left top text" id="next">Далее</button>
  </form>
  <!-- Union -->
  <div class="left top rectangle" id="union_right"></div>

  <!-- Line 1 -->
  <img src="https://s3-us-west-2.amazonaws.com/figma-alpha-api/img/8f90/603a/f70458d2dc78e3d681da1e2d1e46b5a8" width="96" height="253" class="left top line" id="A-Project_horizontal_center_left">

</div>