<!-- ———————      CSS      ——————— -->

     /* Desktop - 1 */
 #n2_3 {
     position: relative;
     width: 1440px;
     height: 1024px;

     margin: 0;

     background: #000000;
 }

/* Rectangle 1 */
#n2_4 {

}

/* Rectangle 3 */
#n16_28 {
    position: absolute;
    background: radial-gradient(50% 50% at 50% 50%, #0D6885 0%, #064559 25.52%, #000000 100%);
    /*background: radial-gradient(50% 50% at 50% 50%, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 50%, rgba(2,0,36,1) 100%);*/
    /*background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);*/
    width: 100%;
    height: 100vh;
    left: 0px;
    top: 0px;
}

/* Rectangle 2 */
#n2_7 {
    position: absolute;
    transform: rotate(-45deg);
    background: rgb(0, 0, 0);
    position: absolute;
    left: 507.868px;
    width: 424.264px;
    top: 299.868px;
    height: 424.264px;
}

/* Логин */
#n2_37 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(124, 119, 119);
    vertical-align: middle;
    justify-content: flex-start;
    width: 280px;
    line-height: 23.4375px;
    height: 34px;
    left: 570px;
    top: 473px;
}

/* Пароль */
#n2_38 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(124, 119, 119);
    vertical-align: middle;
    justify-content: flex-start;
    width: 280px;
    line-height: 23.4375px;
    height: 37px;
    left: 570px;
    top: 566px;
}

/* Line 1 */
#n2_8 {
    position: absolute;
    left: 624px;
    width: 96px;
    top: 356px;
    height: 253px;
}

/* Line 2 */
#n2_9 {
    position: absolute;
    left: 720px;
    width: 93px;
    top: 356px;
    height: 253px;
}

/* Union */
#n16_24 {
    left: 624px;
    width: 193.693px;
    top: 354.275px;
    height: 256.499px;
}

/* a-box-sample-2 1 */
#n6_3 {
    position: absolute;
    background-image: url("https://s3-alpha-sig.figma.com/img/45e3/4168/02ccdb945a745826c9f6cf5a36d98492?Expires=1575244800&Signature=JuDJaIUhjr5FWq~RP8ElQTQ14rsGwRMgjKRkRG27kypNoVoz68HRIrY3sykpPRpKY3wbqNIG4btuBEsAQwgntK0XIH6-jO9l4S0oQANGKgDF-4j1Dk3EaQYwUh08JiOTxep~5v0~~QORBh-6cofphAHjj5BN5ANWB6lrtzoQpaMB2bq8tCz3n9okrkFqXJ2WhCysFcB-LXqHT8RxpAzQ5FQ6Jba2whqMYcnmt6MUudpfLIB~Dqfh0HtFQZpN6k8UsTiDyNKNMRbbCZM9zCgKlxxcPmVlJ84Ms5lnn5H0o6NaO9Kc8iOUvpTL07khJuZn-HTuaKgRAx58IUZ8tkRK4Q__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 1385px;
    height: 1039px;
    left: 570px;
    top: 0px;
}

/* a-box-sample-2 2 */
#n68_13 {
    background-image: url("https://s3-alpha-sig.figma.com/img/45e3/4168/02ccdb945a745826c9f6cf5a36d98492?Expires=1575244800&Signature=JuDJaIUhjr5FWq~RP8ElQTQ14rsGwRMgjKRkRG27kypNoVoz68HRIrY3sykpPRpKY3wbqNIG4btuBEsAQwgntK0XIH6-jO9l4S0oQANGKgDF-4j1Dk3EaQYwUh08JiOTxep~5v0~~QORBh-6cofphAHjj5BN5ANWB6lrtzoQpaMB2bq8tCz3n9okrkFqXJ2WhCysFcB-LXqHT8RxpAzQ5FQ6Jba2whqMYcnmt6MUudpfLIB~Dqfh0HtFQZpN6k8UsTiDyNKNMRbbCZM9zCgKlxxcPmVlJ84Ms5lnn5H0o6NaO9Kc8iOUvpTL07khJuZn-HTuaKgRAx58IUZ8tkRK4Q__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    left: 570px;
    width: 1385px;
    height: 1039px;
}