<!-- ———————      CSS      ——————— -->

     /* Desktop - 1 */
 #n2_3 {
     position: relative;
     width: 100vh;
     height: 100vh;

     position: fixed;
     overflow:hidden;

     margin: 0;

     background: #000000;
 }


/* Rectangle 3 */
#n16_28 {
    position: absolute;
    width: 100%;
    height: 150vh;
    left: 0;
    top: -20vh;

    background: radial-gradient(50% 50% at 50% 50%, #0D6885 0%, #064559 30.21%, #000000 100%);

    position: fixed;
    overflow:hidden;
}

/* Rectangle 2 */
#n2_7 {

    transform: rotate(-45deg);
    background: rgb(0, 0, 0);
    position: absolute;
    margin: -15ch 0 0 -15vh;
    left: 50%;
    width: 30vh;
    top: 50%;
    height: 30vh;
}

/* Line 1 */
#n2_8 {

    position: absolute;
    width: 270.6px;
    height: 0px;
    left: 50%;
    top: 50%;

    margin: -110px 0 0 -110px;

    border: 5px solid #FFFFFF;
    transform: rotate(155.78deg);
}

/* Line 2 */
#n2_9 {
    position: absolute;
    width: 269.55px;
    height: 0px;
    left: 50%;
    top: 50%;

    margin: -43px 0 0 -43px;

    border: 5px solid #FFFFFF;
    transform: rotate(114.82deg);
}

/* a-box-sample-2 1 */
#n6_3 {
    position: absolute;
    background-image: url("https://s3-alpha-sig.figma.com/img/45e3/4168/02ccdb945a745826c9f6cf5a36d98492?Expires=1575244800&Signature=JuDJaIUhjr5FWq~RP8ElQTQ14rsGwRMgjKRkRG27kypNoVoz68HRIrY3sykpPRpKY3wbqNIG4btuBEsAQwgntK0XIH6-jO9l4S0oQANGKgDF-4j1Dk3EaQYwUh08JiOTxep~5v0~~QORBh-6cofphAHjj5BN5ANWB6lrtzoQpaMB2bq8tCz3n9okrkFqXJ2WhCysFcB-LXqHT8RxpAzQ5FQ6Jba2whqMYcnmt6MUudpfLIB~Dqfh0HtFQZpN6k8UsTiDyNKNMRbbCZM9zCgKlxxcPmVlJ84Ms5lnn5H0o6NaO9Kc8iOUvpTL07khJuZn-HTuaKgRAx58IUZ8tkRK4Q__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 140vh;
    height: 100vh;
    left: 50%;
    top: 0;

    position: fixed;
    overflow:hidden;
}
